



/*General heading style*/
.heading {
	margin: 0 0 29px 0px;
	padding: 0 5px 0 15px;
}

#header {
	height: auto;
}

.container {
	text-align: center;
}

.swMain .stepContainer div.content {
	min-height: 100%;
}


#wrapper {
	margin-top: 0px;
}

table, td, tr, thead, tfoot, tbody, th { 
	border-collapse: collapse; 
	margin: 0px; 
	padding: 0px;
}

.holder a.jp-next {
	margin-left: 0px;
}

.btn-success {

	margin-top: -4px;
	padding: 2px 10px 2px 10px;
}

ul#itemContainer {

	padding: 0 10px 0 0 ;
}

.reminder {
	margin-left: 15px;
}

.toolSlider {
	border:0;
	color:#ED7A53; 
	font-weight:bold; 
	box-shadow:none;
}

.row-summary {
	padding: 15px 25px;
	background: #E6EFC2;
}

dd {
	margin-left: 0px;
}